/* universal selector; style entire document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* type selector; set background color of HTML document */
body {
    background-color: #d9dcd6;
}

/* type selector; set font, colors and padding for header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* type selector; set font size and display header on main axis */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* change color of the "seo" in "Horiseon" */ 
h1 .seo {
    color: #d9dcd6;
}

/* style navigation bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove list markers from navigation links */
nav ul {
    list-style-type: none;
}

/* Display navigation links on same axis */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set color of navigation links; remove underlining */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set size of paragraph text */
p {
    font-size: 16px;
}

/* set dimensions of main image; insert image */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* style main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* style aside element */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* style footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* set size of header in footer element */
footer h2 {
    font-size: 20px;
}

/* style main element */
.main-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* set height of images in main element */
.main-content img {
    max-height: 200px;
}

/* position first and third images on the left side in main element */
.float-left {
    float: left;
    margin-right: 25px;
}

/* position second image on the right side in main element */
.float-right {
    float: right;
    margin-left: 25px;
}

/* style headers in main element */
.main-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* style aside element */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* class selector; style headers in aside element */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* class selector; style images in aside element */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


